{% extends 'layout.twig' %}

{% block Main %}
    <div class="main__calendar">
        <div class="main__calendar__inner">
            <div class="calendar">
                <div class="calendar__head">
                    <div class="calendar__arrow calendar__arrow_left js-calendar-prev"></div>
                    <div class="calendar__date js-calendar-toggle">28 дек &#183; Сегодня</div>
                    <div class="calendar__arrow calendar__arrow_right js-calendar-next"></div>
                </div>
                <div class="calendar__dropdown js-calendar-container"></div>
            </div>
        </div>
    </div>
    <div class="main__schedule-wrapper js-schedule-wrapper">
        {% include 'blocks/main/schedule.twig' %}
    </div>
{% endblock %}

{% block pageScript %}
    <script type="text/javascript" src="/build/scripts/index/index.js"></script>
{% endblock %}