<!DOCTYPE html>
<html>
<head>
    <title>Яндекс Переговорки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/build/styles/__main.css">
</head>
<body>
    <div class="l-window">
        {% include 'blocks/header/header.twig' %}
        <main class="main">
            {% block Main %}{% endblock %}
        </main>
        {% if footer %}
            {% include 'blocks/footer/footer.twig' %}
        {% endif %}
    </div>
    <div class="popup-wrapper js-popup-wrapper">
        <div class="popup js-popup"></div>
    </div>
    <div class="js-tooltip-wrapper"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/scripts/vendor/datepicker-ru.js"></script>
    {% block pageScript %}{% endblock %}
</body>
</html>