.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: @headerHeight;
    padding: 0 24px;
    background: #FFFFFF;
    border-bottom: 1px solid #E9ECEF;
    box-sizing: border-box;

    &__logo {
        width: 174px;
        height: 24.4px;
        background: url('@{blocksPath}/header/images/logo.svg') center no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: @tabletWidth) {
    .header {
        padding: 0 16px;
    }
}

@media screen and (max-width: @bigMobileWidth) {
    .header {
        height: 48px;
        line-height: 48px;
        
        &__button {
            display: none;
        }
    }
}