.event {
    position: relative;
    max-width: 872px;
    margin: 0 auto;
    padding-top: 31px;
    height: calc(~"100vh - @{headerHeight} - @{footerHeight} - 1px");

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__col {
        width: 50%;
        padding-right: 16px;

        &:last-child {
            padding-right: 0;
            padding-left: 16px;
        }
    }

    &__calendar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 238px;
        box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
        background: #fff;
        z-index: 20;
        padding: 10px;
        border-radius: 4px;
    }

    &__tire {
        font-size: 14px;
        font-weight: 900;
    }

    &__dropdown {
        display: none;
        position: absolute;
        width: 100%;
        max-height: 140px;
        top: calc(~"100% + 1px");
        background: #fff;
        box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
        border-radius: 4px;
        overflow: hidden;

        &.active {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        &__item {
            padding: 5px 16px;
            cursor: default;

            &:hover {
                background: #F6F7F9;
            }
        }

        &__item:hover &{
            &__member,
            &__floor {
                font-weight: 700;
            }
        }


        &__image,
        &__member,
        &__floor {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
        }

        &__image {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 8px;
        }

        &__floor {
            color: #bababa;
        }
    }

    &__room-item {
        position: relative;
        border: 2px solid #E9ECEF;
        border-radius: 4px;
        background: #E9ECEF;
        padding: 9px 10px;
        font-size: 13px;
        margin-bottom: 8px;
        cursor: pointer;

        &__time {
            font-weight: 700;
            margin-right: 16px;
        }

        &__close {
            display: none;
            position: absolute;
            top: 8px;
            right: 5px;
            width: 16px;
            height: 16px;
            background: url('@{blocksPath}/event/images/close.svg') center no-repeat;
            background-size: 9px;
        }

        &.active,
        &:hover {
            background: #007DFF;
            color: #fff;
            border-color: #007DFF;
        }

        &.active & {
            &__close {
                display: block;
                background: url('@{blocksPath}/event/images/close_white.svg') center no-repeat;
            }
        }
    }

    &__close {
        position: absolute;
        top: 32px;
        right: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #E9ECEF;
        background-image: url('@{blocksPath}/event/images/close.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 11px;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    &__members {
        position: absolute;
        top: calc(~"100% + 1px");
        width: 100%;
        padding: 12px 0;

        &__item {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            background: #E9ECEF;
            border-radius: 16px;
            margin: 0 8px 8px 0;
            padding-right: 36px;
        }

        &__item:hover & {
            &__remove {
                opacity: 1;
            }
        }

        &__name {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
        }

        &__image {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 50%;
            background: #222;
        }

        &__remove {
            position: absolute;
            width: 16px;
            height: 16px;
            right: 5px;
            top: 5px;
            background: url('@{blocksPath}/event/images/close.svg') center no-repeat;
            background-size: 12px;
            cursor: pointer;
            opacity: 0.6;
        }
    }

    &__tooltip {
        display: none;
    }
}

@media screen and (max-width: @maxWidth) {
    .event {
        padding: 31px @defaultPadding 0;

        &__close {
            right: 24px;
        }

        &__tire {
            width: 6%;
        }
    }
}

@media screen and (max-width: @tabletWidth) {
    .event {
        padding: @defaultPadding 16px 0;

        &__members {
            position: static;
            padding-bottom: 0;
        }

        &__dropdown {
            top: 60px;
            width: calc(~'100% - 32px');
        }

        &__tooltip {
            display: block;
            position: fixed;
            bottom: 77px;
            left: 0;
            right: 0;
            padding: 12px 16px;
            background: rgba(0,16,33,0.80);
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            opacity: 0.93;
        }
    }
}

@media screen and (max-width: @tabletWidth) {
   .event {
        height: auto;

        &__close {
            display: none;
        }
    }
}

@media screen and (max-width: @bigMobileWidth) {
    .event {
        &__title {
            margin-bottom: 16px;
        }
    }

    .editevent {
        .event {
            &__field-block {
                &_rooms {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: @mobileWidth) {
    .event {
        &__members {
            &__item {
                width: 100%;
                padding: 4px 0;
                margin-right: 0;
            }

            &__remove {
                top: 8px;
                right: 10px;
            }
        }

        &__calendar {
            width: 100%;
        }
    }
}