<header class="header">
    <a href="/" class="header__logo"></a>
    {% if enableAddButton %}
        <a href="/newevent" class="button button_blue js-add-event-btn">Создать встречу</a>
    {% endif %}
</header>