<header class="header">
    <div class="header__logo"></div>
    {% if enableAddButton %}
        <a href="/newevent" class="button button_add-event js-add-event-btn">Создать встречу</a>
    {% endif %}
</header>