<header class="header">
    <div class="header__inner">
        <a href="/" class="header__logo"></a>
        <a href="/newevent.html" data-from="new" class="header__button button button_blue js-add-event-btn">Создать встречу</a>
    </div>
</header>