<header class="header">
    <div class="header__inner">
        <a href="/index.html" class="header__logo"></a>
        <a href="/newevent.html" class="header__button button button_blue js-add-event-btn">Создать встречу</a>
    </div>
</header>