<div class="event">
    <div class="event__inner">
        <div class="event__title">Редактирование встречи</div>
        <form class="js-newevent-form event__main">
            <input type="hidden" name="event_id" value="{{ event.id }}">
            {% include '../fields/theme.twig' %}
            {% include '../fields/date.twig' %}
            {% include '../fields/members.twig' %}
            {% include '../fields/rooms.twig' %}
        </form>
        <span class="event__close js-popup-close"></span>
    </div>
    <div class="event__footer">
        <div class="event__footer__inner">
            <span class="event__footer__button button button_grey js-popup-close">Отмена</span>
            <a href="" class="event__footer__button button button_grey js-delete-event-btn">Удалить встречу</a>
            <a href="" class="event__footer__button button button_grey js-saveedit-event-btn">Сохранить</a>
        </div>
    </div>
</div>
