.footer {
    border-top: 1px solid #E9ECEF;
    box-sizing: border-box;
    background: #fff;

    &__inner {
        max-width: @maxWidth;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    &__button {
        margin-right: 16px;
    }
}

@media screen and (max-width: @bigMobileWidth) {
    //модификация блока на странице редактирования встречи
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .editevent {
        .footer {
            border-width: 8px;

            &__inner {
                position: static;
                flex-wrap: wrap;
                border-width: 8px;
                padding-top: 0;
            }

            &__button {
                &_delete {
                    width: 100%;
                    color: #FF3333;
                    padding: 16px 0;
                    border-bottom: 8px solid #E9ECEF;
                    background: #fff;
                    margin: 0 0 17px 0;
                    border-radius: 0;
                    font-size: 15px;
                    line-height: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: @mobileWidth) {
    .editevent {
        .footer {
            position: static;
        }
    }
}