<div class="main__calendar">
    <div class="calendar">
        <div class="calendar__arrow calendar__arrow_left"></div>
        <div class="calendar__date">28 дек &#183; Сегодня</div>
        <div class="calendar__arrow calendar__arrow_right"></div>
    </div>
</div>