<footer class="footer">
    <a href="" class="footer__button button button_cansel js-cansel-event-btn">Отмена</a>
    <a href="" class="footer__button button button_create js-create-event-btn">Создать встречу</a>
</footer>