<footer class="footer">
    <a href="" class="footer__button button button_grey js-cansel-event-btn">Отмена</a>
    <a href="" class="footer__button button button_blue js-create-event-btn">Создать встречу</a>
</footer>