//path
@blocksPath: '/public/styles/blocks/';

//color
@backgroundColor: #F6F7F9;
@borderColor: #E9ECEF;
@blueColor: #007DFF;
@blueColorHover:  #0058FF;
@blueColorPressed:  #0011FE;

@greyColor:  #E9ECEF;
@greyColorHover:  #DDE0E4;


//sizes
@headerHeight: 71px;
@headerSmallHeight: 48px;

@toplineHeight: 46px;
@footerHeight: 76px;
@leftColumnWidth: 245px;
@leftColumnMinWidth: 181px;

@defaultPadding: 24px;

//breakpoints
@maxWidth: 1280px;
@tabletWidth: 769px;
@smallTabletWidth: 641px;
@bigMobileWidth: 415px;
@mobileWidth: 376px;
