//path
@blocksPath: '/public/styles/blocks/';

//color
@borderColor: #E9ECEF;
@buttonBlueColor: #007DFF;
@buttonBlueColorHover:  #0058FF;
@buttonBlueColorPressed:  #0011FE;

//sizes
@headerHeight: 71px;
@toplineHeight: 46px;
@footerHeight: 76px;
@leftColumnWidth: 245px;
@defaultPadding: 25px;