.main {
    position: relative;
    overflow: hidden;

    &__calendar {
        position: absolute;
        top: 0;
        left: 0;
        width: 245px;
        padding: 12px 24px;
        height: 46px;
        border-bottom: 1px solid #E9ECEF;
    }

    &__schedule {
        &__inner {
            display: flex;
        }

        &__col {
            &-left {
                flex: none;
                width: 245px;
                padding: 0 24px;
                margin-top: 45px;
                border-right: 1px solid #E9ECEF;
            }

            &-right {
                flex: auto;
                background: #F6F7F9;
            }
        }

        &__room {
            margin-bottom: 16px;

            &__name {
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;
                margin-bottom: 2px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &:hover {
                    color:  #0070E0;
                }
            }

            &__capacity {
                font-size: 13px;
                line-height: 17px;
            }

            &.busy & {
                &__name,
                &__capacity {
                    color:  #858E98;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__floor {
        padding-top: 24px;

        &__title {
            font-weight: bold;
            font-size: 11px;
            color: #858E98;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
    }

    &__hours {
        position: relative;
        font-size: 0;
        height: 46px;
        border-bottom: 1px solid #E9ECEF;
        padding-left: 15px;
        background: #fff;

        &__item {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: calc(~'100% / 16');
            font-weight: bold;
            font-size: 11px;
            color: #858E98;
            letter-spacing: 0.4px;
            line-height: 46px;

            &.past {
                color: #858E98;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 4px;
                top: 100%;
                width: 1px;
                height: 10000px;
                background: rgba(19,100,205,0.10);
                z-index: 9;
            }
        }

        &__current {
            position: absolute;
            top: 13px;
            width: 49px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 11px;
            font-weight: 700;
            background: #007DFF;
            border-radius: 100px;
            color: #fff;
            z-index: 10;

            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 24.5px;
                top: 100%;
                width: 1px;
                height: 10000px;
                background: inherit;
            }
        }
    }

    &__lines {

        &__floor {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0
            }
        }
        &__row {
            font-size: 0;
            margin-bottom: 24px;

            &_empty {
                height: 47px;
                margin: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__item {
            display: inline-block;
            vertical-align: middle;
            height: 28px;
            background: #fff;

            &.busy {
                background: #D5DFE9;

                &:hover {
                    background: #98A9B9;
                }
            }
        }
    }
}

@media screen and (max-width: @tabletWidth) {
    .main {
        &__schedule {
            &__col {
                &-right {
                    overflow-x: scroll;

                    &__inner {
                        width: 1000px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: @smallTabletWidth) {
    .main {
        &__calendar {
            position: static;
            width: 100%;

            &__inner {
                max-width: 245px;
            }
        }

        &__schedule {
            overflow-x: scroll;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            &::-webkit-scrollbar { width: 0; }

            &__inner {
                width: 1181px;
            }
            &__col {
                &-left {
                    flex: none;
                    width: 181px;
                    border-top: 1px solid #E9ECEF;
                }
            }
        }
    }
}

@media screen and (max-width: @bigMobileWidth) {
    .main {
        &__calendar {
            &__inner {
                max-width: 100%;
            }
        }
    }
}