<div data-id="event_create">
    <div class="popup__img"></div>
    <div class="popup__title">Встреча создана!</div>
    <div class="popup__text">
        <span>14 декабря</span>
        ,
        <span>15:00-17:00</span>
    </div>
    <div class="popup__text">
        <span>Готем</span>
        &#183;
        <span>4 этаж</span>
    </div>
    <div class="popup__buttons">
        <div class="button button_blue">Хорошо</div>
    </div>

</div>