<div data-id="event_delete">
    <input type="hidden" name="event_id">
    <div class="popup__img popup__img_delete"></div>
    <div class="popup__title">Встреча будет<br>удалена безвозвратно</div>   
    <div class="popup__buttons">
        <div class="popup__buttons__item">
            <div class="button button_grey js-popup-delete-cansel-btn">Отмена</div>
        </div>
        <div class="popup__buttons__item">
            <div class="button button_grey js-popup-delete-save-btn">Удалить</div>
        </div>
    </div>
</div>
