<div class="popup js-popup" data-id="event_create">
    <div class="popup__img popup__img_create"></div>
    <div class="popup__title">Встреча создана!</div>
    <div class="popup__text">14 декабря, 15:00-17:00</div>
    <div class="popup__text">Готем &#183; 4 этаж</div>    
    <div class="popup__buttons">
        <div class="popup__buttons__item">
            <div class="button button_blue">Хорошо</div>
        </div>
    </div>
</div>
<div class="popup js-popup" data-id="event_delete">
    <div class="popup__img popup__img_delete"></div>
    <div class="popup__title">Встреча будет<br>удалена безвозвратно</div>   
    <div class="popup__buttons">
        <div class="popup__buttons__item">
            <div class="button button_grey">Отмена</div>
        </div>
        <div class="popup__buttons__item">
            <div class="button button_grey">Удалить</div>
        </div>
    </div>
</div>
