<div class="field-block field-block_left">
    <div class="field-block__label">Тема</div>
    <input type="text" required name="newevent_topic" class="field-block__input" {% if event and event.title != '' %}value="{{ event.title }}"{% endif %} placeholder="О чем будете говорить?" data-validation-text="Укажите тему встречи">
</div>